@import '../../index.scss';

.footer {
    padding: 20px 0;
    width: 100%;
    background-color: $footer-background-color;
    font-size: 14px;
    font-weight: 300;
}

.wrapper {
    display: flex;
    justify-content: space-between;
}

.developer {
    a {
        color: $primary-main-color;

        &:hover {
            color: $primary-dark-color;
        }
    }
}

@import './Footer.media.module.scss';
