.slider {
    height: 500px;
    width: auto;
    background-color: rgb(238, 238, 238);
    border-radius: 40px;
    margin: 0 auto;
}

.images {
    border-radius: 40px;
    overflow: hidden;
}

.sliderImage {
    height: 500px;
    width: 100%;
    text-align: center;
    opacity: 0;
    margin: 0 auto;
    display: none;
    background-size: cover;
    background-repeat: no-repeat;
}

.active {
    opacity: 1;
    display: block;
}

.btn {
    cursor: pointer;
    border-radius: 100%;
    background-color: rgba(146, 146, 146, 0.3);
    width: 40px;
    height: 40px;
    border: none;
    padding: 8px 12px;

    &:hover {
        background-color: rgba(146, 146, 146, 0.5);
    }
}

.buttonsWrapper {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

@import './LotSlider.media.module.scss';
