@import '../../index.scss';

.wrapper {
    background-color: $grey-text-color;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
}

.time {
    font-size: 46px;
    color: #fff;
    font-weight: bold;
}
