@media screen and (max-width: 768px) {
    .content {
        flex-direction: column;
    }

    .feed {
        padding: 0;
        width: 100%;
        order: 1;
        justify-content: center;
        margin-top: 20px;
    }

    .menu {
        width: 100%;
    }
}
