@import '../../index.scss';

.wrapper {
    min-height: calc(100vh - 73px - 57px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.userInfo {
    background-color: #fff;
    box-shadow: 0 0 15px #ececec;
    height: 600px;
    max-height: 600px;
    width: 30%;
    border-radius: 10px;
}

.panel {
    background-color: #fff;
    box-shadow: 0 0 15px #e0e0e0;
    height: 600px;
    max-height: 600px;
    width: 70%;
    margin: 0 0 0 20px;
    border-radius: 10px;
    overflow: hidden;
    padding: 0 5px 5px 5px;
}

.userInfoWrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}
