@import '../../index.scss';

.empty {
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 14px;
    color: $light-grey-text-color;

    span {
        margin: 10px 12px 0 0;
        padding-bottom: 8px;
    }
}

@import './AuctionFeed.media.module.scss';
