$light-background-color: #f3f3f3;

$header-background-color: #fafafa;
$darker-header-background-color: #f3f3f3;

$footer-background-color: #ebebeb;

$primary-main-color: #2979ff;

$grey-text-color: #212121;
