$light-background-color: #f3f3f3;

$header-background-color: #fafafa;
$darker-header-background-color: #f3f3f3;

$footer-background-color: #ebebeb;

$primary-main-color: #2979ff;
$primary-dark-color: #1c54b2;

$grey-text-color: #212121;
$light-grey-text-color: #6b6b6b;

$form-color: #fcfcfc;
$form-shadow-color: #e9e9e9;
