@import '../../index.scss';

.wrapper {
    padding: 30px 0;
    min-height: calc(100vh - 73px - 57px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.root {
    max-width: 400px;
    padding: 50px;
    border: 1px solid #dedede;
    margin: 50px auto;
}

.field {
    margin-bottom: 20px !important;
}

.title {
    text-align: center !important;
    font-weight: bold !important;
    margin-bottom: 30px !important;
}

.avatar {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.registerForm {
    max-width: 400px;
    padding: 50px;
    background-color: $form-color;
    box-shadow: 0 0 15px $form-shadow-color;
    border-radius: 15px;
    margin: 50px auto;

    form {
        display: flex;
        flex-direction: column;
    }
}

.haveAccount {
    color: grey;
    font-size: 14px;
    text-align: center;
    margin: 10px 0 0 0;

    span {
        color: $primary-main-color;
        cursor: pointer;

        &:hover {
            color: $primary-dark-color;
        }
    }
}

.warn {
    margin-top: 5px;
    font-size: 12px;
    color: $light-grey-text-color;
}
